
.ms-container-vh-100{
    height: 100vh;
    background-color: bisque;
}

/* UTILITY */

.ms-pointer{
    cursor: pointer;
}

.ms-height-calc{
    height: calc(100vh - 100px);
}

ul {
    padding-inline-start: 0px;
}

li{
    list-style: none;
}

.row {
    --bs-gutter-x: 0;
}
/* HEADER */

header{
    background-color: white;
}

nav{
    height: 100px;
}

.ms-mobile-logo{
    width: 50px;
}

.ms-logo{
    width: 150px;
}

.fa-bell{
    color: #FF8F00;
}

.form-control {
    font-size: 0.8rem;
    background-color: #E5E5E5;
}

.input-group-text {
    background-color: #E5E5E5;
}

/* MAIN */


/* ASIDE */

.ms-aside{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    color: white;
}


