
.ms-container-vh-100{
    height: 100vh;
    background-color: bisque;
}

/* UTILITY */

.ms-pointer{
    cursor: pointer;
}

.ms-height-calc{
    height: calc(100vh - 100px);
}

ul {
    padding-inline-start: 0px;
}

li{
    list-style: none;
}

.row {
    --bs-gutter-x: 0;
}

.ms-color-white{
    color: white;
}

/* HEADER */

header{
    background-color: white;
}

nav{
    height: 100px;
}

.ms-mobile-logo{
    width: 120%;
}

.ms-logo{
    width: 100%;
}

.fa-bell{
    color: #FF8F00;
}

.form-control {
    font-size: 0.8rem;
    background-color: #E5E5E5;
}

.input-group-text {
    background-color: #E5E5E5;
}

/* ASIDE */

.ms-aside{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    color: white;
}

/* COL-11 */

.ms-bg-light-blue{
    background-color: #1A73E8;
}

.text-bg-primary {
    color: #fff!important;
    background-color: #155CBA!important;
}

.ms-avatar{
    width: 30px;
}

.ms-bg-white{
    background-color: white;
}

@media screen and (max-width:992px){
    .offcanvas.offcanvas-end{
        width: 100%;
    }
}

@media screen and (min-width:993px){
    .offcanvas.offcanvas-end{
        width: 70%;
    }
}


